body {
    padding-top: 5rem;
}

.data{
    margin: 19px;
}

.data p{
    margin-top: 10px;
}

.btn{
    background: rgb(119, 169, 245);
    color: white;
    border-radius: 11px;
    border: none;
    margin-left: 19px;
}

.text_area{
    height: 120px;
    width: 330px;
}

.subhead{
    margin-left: 19px;
}